.wd-bg-color-black {
    background-color: black;
}

.wd-avatar-image {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    float: left;
}

.wd-content-image {
    width: 504px;
    height: 264px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    position: relative;
    top: 12px;
    border-top-color: rgb(47, 51, 54);
    border-top-width: 1px;
    border-top-style: solid;
    margin-bottom: 0px;
}

.wd-content-desc {
    width: 478px;
    margin: 0px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-color:rgb(47, 51, 54);
    border-width: 1px;
    border-style: solid;
}

.wd-tuit-content {
    width: 506px;
    margin: 0px;
    padding-top: 5px;
}

.wd-pad-left-12 {
    padding-left: 12px;
}

.wd-pad-left-60 {
    padding-left: 60px;
}

.wd-pad-right-12 {
    padding-right: 12px;
}

.wd-pad-top-12 {
    padding-top: 12px;
}

.wd-pad-12 {
    padding: 12px;
}

.wd-float-left {
    float: left;
}

.wd-float-done {
    float: done;
    clear: both;
}

.wd-col-25-percent {
    width: 25%;
    float: left;
}

.wd-page-column-full-width {
    width: 600px;
    border-bottom-color: rgb(47, 51, 54);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-color: rgb(47, 51, 54);
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: rgb(47, 51, 54);
    border-right-width: 1px;
    border-right-style: solid;
    margin-left: 16px;
    margin-right: 16px;
}

.wd-page-first-column {
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    border-style: solid;
}

.wd-page-column-content {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom-color: rgb(47, 51, 54);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.wd-arial {
    font-family: Arial;
}

.wd-large-white-text {
    font-size: 20px;
    color: white;
}

.wd-medium-white-text {
    font-size: 15px;
    color: white;
}

.wd-small-white-text {
    font-size: 13px;
    color: white;
}

.wd-medium-gray-text {
    font-size: 15px;
    color: rgb(110, 118, 125);
}

.wd-small-gray-text {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-small-red-text {
    font-size: 13px;
    color: rgb(249, 24, 128);
}